# Project: Creating a Stock Dashboard

## Analyzing Stocks with Python (Part 1)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data 
import seaborn as sns
from statsmodels.formula.api import ols
plt.style.use("seaborn")

In [2]:
symbol = "LHA.DE"
start = "2010-01-01"
end = "2020-06-30"
benchmark = "^GDAXI"

In [3]:
data.DataReader(name = [symbol, benchmark], data_source = "yahoo", start = start, end = end)

Attributes  Adj Close                 Close                  High  \
Symbols        LHA.DE        ^GDAXI  LHA.DE        ^GDAXI  LHA.DE
Date
2010-01-04   9.711983   6048.299805  11.855   6048.299805  11.900
2010-01-05   9.830770   6031.859863  12.000   6031.859863  12.045
2010-01-06   9.953656   6034.330078  12.150   6034.330078  12.195
2010-01-07  10.088831   6019.359863  12.315   6019.359863  12.315
2010-01-08  10.383754   6037.609863  12.675   6037.609863  12.725
...               ...           ...     ...           ...     ...
2020-06-25   9.592000  12177.870117   9.592  12177.870117  10.800
2020-06-26   8.994000  12089.389648   8.994  12089.389648   9.976
2020-06-29   9.012000  12232.120117   9.012  12232.120117   9.038
2020-06-30   8.942000  12310.929688   8.942  12310.929688   9.234
2020-07-01   8.830000  12260.570312   8.830  12260.570312   8.952

Attributes                   Low                  Open                \
Symbols           ^GDAXI  LHA.DE        ^GDAXI  LHA.DE        ^GDAXI
Date
2010-01-04   6048.299805  11.705   5974.430176  11.750   5975.520020
2010-01-05   6058.020020  11.740   6015.669922  11.890   6043.939941
2010-01-06   6047.569824  11.940   5997.089844  12.050   6032.390137
2010-01-07   6037.569824  11.995   5961.250000  12.100   6016.799805
2010-01-08   6053.040039  12.285   5972.240234  12.315   6028.620117
...                  ...     ...           ...     ...           ...
2020-06-25  12236.459961   9.524  11957.309570  10.660  12102.250000
2020-06-26  12347.450195   8.982  12060.889648   9.888  12308.480469
2020-06-29  12297.679688   8.594  12045.259766   8.800  12090.410156
2020-06-30  12350.349609   8.804  12188.089844   9.200  12287.940430
2020-07-01  12391.719727   8.522  12095.110352   8.780  12391.719727

Attributes      Volume
Symbols         LHA.DE       ^GDAXI
Date
2010-01-04   3162623.0  104344400.0
2010-01-05   2817516.0  117572100.0
2010-01-06   4449133.0  108742400.0
2010-01-07   3145503.0  133704300.0
2010-01-08   5206844.0  126099000.0
...                ...          ...
2020-06-25  19580702.0  128245800.0
2020-06-26  10626891.0  111965200.0
2020-06-29   6991555.0  121308400.0
2020-06-30   4464205.0  124633200.0
2020-07-01   4324200.0   81131500.0

[2662 rows x 12 columns]

In [4]:
df = data.DataReader(name = [symbol, benchmark], data_source = "yahoo", start = start, end = end).Close
df

Symbols     LHA.DE        ^GDAXI
Date
2010-01-04  11.855   6048.299805
2010-01-05  12.000   6031.859863
2010-01-06  12.150   6034.330078
2010-01-07  12.315   6019.359863
2010-01-08  12.675   6037.609863
...            ...           ...
2020-06-25   9.592  12177.870117
2020-06-26   8.994  12089.389648
2020-06-29   9.012  12232.120117
2020-06-30   8.942  12310.929688
2020-07-01   8.830  12260.570312

[2662 rows x 2 columns]

In [6]:
df.dropna(inplace= True)

In [5]:
benchmark.replace("^", "")

'GDAXI'

In [7]:
df.rename(columns = {benchmark:benchmark.replace("^", "")}, inplace = True)

In [8]:
df

Symbols     LHA.DE         GDAXI
Date
2010-01-04  11.855   6048.299805
2010-01-05  12.000   6031.859863
2010-01-06  12.150   6034.330078
2010-01-07  12.315   6019.359863
2010-01-08  12.675   6037.609863
...            ...           ...
2020-06-25   9.592  12177.870117
2020-06-26   8.994  12089.389648
2020-06-29   9.012  12232.120117
2020-06-30   8.942  12310.929688
2020-07-01   8.830  12260.570312

[2657 rows x 2 columns]

In [ ]:
benchmark = benchmark.replace("^", "")
benchmark

In [10]:
df.rename(columns={symbol: symbol.split(".")[0]}, inplace = True)

In [11]:
df

Symbols        LHA         GDAXI
Date
2010-01-04  11.855   6048.299805
2010-01-05  12.000   6031.859863
2010-01-06  12.150   6034.330078
2010-01-07  12.315   6019.359863
2010-01-08  12.675   6037.609863
...            ...           ...
2020-06-25   9.592  12177.870117
2020-06-26   8.994  12089.389648
2020-06-29   9.012  12232.120117
2020-06-30   8.942  12310.929688
2020-07-01   8.830  12260.570312

[2657 rows x 2 columns]

In [13]:
symbol = symbol.split(".")[0]
symbol

'LHA'

In [ ]:
plt.figure(figsize = (12, 8))
df[symbol].plot(fontsize = 12)
plt.show()

In [ ]:
first = df.iloc[0, 0]
first

In [ ]:
high = df.iloc[:,0].max()
high

In [ ]:
low = df.iloc[:,0].min()
low

In [ ]:
last = df.iloc[-1, 0]
last

In [ ]:
total_change = last / first - 1
total_change

## Analyzing Stocks with Python (Part 2)

In [ ]:
df

In [ ]:
plt.figure(figsize = (12, 8))
df[symbol].plot(fontsize = 12)
df[benchmark].plot(fontsize = 12)
plt.show()

## This normalizes our data so that it becomes on par. It starts with everything at index 1.

In [ ]:
norm = df.div(df.iloc[0]).mul(100)
norm

In [ ]:
plt.figure(figsize = (12, 8))
norm[symbol].plot(fontsize = 12)
norm[benchmark].plot(fontsize = 12)
plt.legend(fontsize = 15)
plt.show()

In [ ]:
df.pct_change().dropna() #calculate daily returns ## We do the .dropna() because weekends and holidays are bank holidays and there is no trading.

### This is to get the closing by end of each  month

In [ ]:
df.resample("M").last()#.dropna() #determine frequency

In [ ]:
df.resample("D").last().dropna() #determine frequency

In [ ]:
df.resample("M").last().dropna().pct_change().dropna() #calc daily/weekly/etc. returns

In [ ]:
df.resample("Q").last().dropna().pct_change().dropna() #calc daily/weekly/etc. returns

In [ ]:
ret  = df.resample("D").last().dropna().pct_change().dropna() #daily returns
ret

In [ ]:
ret.corr()#.iloc[0, 1]

In [ ]:
ret.corr().iloc[0, 1]

## Analyzing Stocks with Python (Part 3)

In [ ]:
sns.regplot(data = ret, x = benchmark, y = symbol)
plt.show()

In [ ]:
#ols("MSFT ~ DJI", data = ret)

In [ ]:
symbol + "~" + benchmark

In [ ]:
model = ols(symbol + "~" + benchmark, data = ret)

In [ ]:
results = model.fit()

In [ ]:
print(results.summary())

In [ ]:
results.params

In [ ]:
beta = results.params[1]
beta

In [ ]:
results.rsquared

In [ ]:
results.tvalues

In [ ]:
round(results.pvalues, 5)

In [ ]:
results.conf_int()